In [1]:
#Pembersihan Data

import pandas as pd

In [7]:
filelocation = 'C:/Users/User/Documents/Berkas Fikar/Skripsi Fikar/Data/data_gabungan_sekolah_sulsel.csv'
df = pd.read_csv(filelocation)

In [8]:
df.head()

,No,Nama Sekolah,BP,Status,siswa_total,jumlah_guru,staf_total,jumlah_ruangan,daya_listrik,wilayah_total,skor_akreditasi,Lintang,Bujur
0,1,UPT SPF SD INPRES BADDOKA,SD,Negeri,337.0,18,3,13.0,1300 watt,2808 m2,81,-5.091536,119.513350
1,2,UPT SPF SD INPRES BAKUNG 1,SD,Negeri,243.0,15,4,8.0,900 watt,3000 m2,84,-5.073361,119.529407
2,3,UPT SPF SD INPRES BAKUNG 2,SD,Negeri,269.0,16,5,8.0,4400 watt,2500 m2,84,-5.079141,119.529189
3,4,UPT SPF SD INPRES DAYA,SD,Negeri,498.0,28,3,13.0,4640 watt,1200 m2,87,-5.112903,119.512008
4,5,UPT SPF SD INPRES KALANG TUBUNG 2,SD,Negeri,195.0,15,1,8.0,1300 watt,1505 m2,81,-5.080895,119.536749

In [25]:
columns_to_clean = ['jumlah_ruangan', 'daya_listrik', 'wilayah_total', 'Lintang', 'Bujur']

def clean_data(value):
    if pd.isnull(value):  
        return value
    value = str(value).lower()
    value = value.replace('watt', '').replace('m2', '').replace('-', '').replace('.', '')
    try:
        return pd.to_numeric(value.strip())
    except ValueError:
        return pd.NA


df[columns_to_clean] = df[columns_to_clean].applymap(clean_data)

In [26]:
df.head()

,No,Nama Sekolah,BP,Status,siswa_total,jumlah_guru,staf_total,jumlah_ruangan,daya_listrik,wilayah_total,skor_akreditasi,Lintang,Bujur
0,1,UPT SPF SD INPRES BADDOKA,SD,Negeri,337.0,18,3,1300.0,1300,28080.0,81,509153567,1195133502
1,2,UPT SPF SD INPRES BAKUNG 1,SD,Negeri,243.0,15,4,800.0,900,30000.0,84,5073361105,1195294071
2,3,UPT SPF SD INPRES BAKUNG 2,SD,Negeri,269.0,16,5,800.0,4400,25000.0,84,5079140801,119529189
3,4,UPT SPF SD INPRES DAYA,SD,Negeri,498.0,28,3,1300.0,4640,12000.0,87,5112902708,119512008
4,5,UPT SPF SD INPRES KALANG TUBUNG 2,SD,Negeri,195.0,15,1,800.0,1300,15050.0,81,5080894528,119536749